extends template.jade

block content
    h1 awesomeness
    form(method='POST', action='/notes')
        .input-group
            label(for='title') Title
            input#title(type='text' name='title')
            br
            label(for='note') Note
            input#note(type='text' name='note')
            br
            input(type='submit' value='Save')
