extends template.jade
block content
    .row
        ul
            each category in categories
                li: a(href='/categories/#{category._id}') #{category.name} -- #{category.description}
        
        button.btn: a(href='/categories/new') Add category
