extends template.jade
block content
    .row
        h2 #{category.name}
        p #{category.description}

        h3 Notes:
        
        table
            thead
                tr
                    th Note

            tbody
                for note in category.notes
                    td: a(href='/notes/#{note._id}') #{note.title}
