extends template.jade

block content
    .row
        h1 Edit note

        form(method='POST', action='/notes/#{_id}?_method=PUT')
            .input-group
                label(for='title') Title
                input#title(type='text', name='title', value='#{title}')
                br
            .input-group
                label(for='note') Note
                input#note(type='text' name='note', value='#{note}')
                br
                select#cat(name='category')
                    each cat in categories
                        option(value=cat._id)= cat.name
            .input-group
                input.btn(type='submit', value='Save')
