extends template.jade
block content
    .row
        ul
            each note in notes
                li: a(href='/notes/#{note._id}') #{note.title}
        
        button.btn: a(href='/notes/new') Add note
