extends template.jade
block content
    .row
        h3 #{title}
        p #{note}
        form(action='/notes/#{_id}?_method=DELETE', method="POST")
            button.btn(type="submit") Delete note
        
        button.btn: a(href='/notes/#{_id}/edit') Edit note
        button.btn: a(href='/notes') View all
