extends template.jade
block content
    h3 #{title}
    p #{note}
    form(action='/notes/#{_id}?_method=DELETE', method="POST")
        button(type="submit") Delete resource
    
    button: a(href='/notes/#{_id}/edit') Edit note
    button: a(href='/notes') View all
