doctype html
html(lang='en')
    head
        block title
            title Wondernote
            link(rel='stylesheet' href='/lib/bootstrap/dist/css/bootstrap.min.css')
            link(rel='stylesheet' href='/css/styles.css')
    body
        block header 
            nav#main-nav.navbar
                .navbar-header
                    .navbar-brand Wondernote
                    ul.nav.navbar-nav
                        li: a(href='/notes') All notes
                        li: a(href='/categories') Categories
        block content
        
        block scripts
